/*
* Colors
*/
$black: #00042e;
$brand-blue: #0070ff;
$dark-blue: #00042e;
$dark-blue-light: #27345a;
$gray-4: #7f8196;
$gray-3: #bfc0cb;
$gray-2: #e0e0e6;
$gray-1: #ededf0;
$snow: #ffffff;
$ruby: #f85873;

/*
* Btn
*/
$btn-radius: 4px;
$btn-border-width: 1px;

/*
* Padding
*/
$padding-space: 16px;

/*
 * Box
 */
$box-border-radius: 8px;
$box-border-radius-small: 4px;

/*
* Z-index
*/
$zindex-dropdown: 100;
$zindex-sticky: 120;
$zindex-fixed: 130;
$zindex-modal-backdrop: 140;
$zindex-modal: 150;
$zindex-popover: 160;
$zindex-tooltip: 170;

/**
 * Img
 */
$img-radius: 4px;


/**
 * Property listing and details image
 */
$property-listing-image-width: 75vw;
$property-listing-image-height: 34vw;
$property-image-max-width: 618px;
$property-image-max-height: 280px;
